@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html, body {
  margin: 0;
  height: 100vh;
  background-image: url(../media/index_ph.jpg);
  background-size: cover;
  background-position-x: 10%;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Satisfy";
  font-size: 2.5rem;
  color: white;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

label {
  color: white;
}

.home {
  font-family: "Satisfy";
}

#back-video {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#central-panel {
  height: 85vh;
  width: 100%;
  border-bottom: dashed white 10px;
  border-top: dashed white 10px;
  background-color: rgba(47, 48, 47, 0.753);
}

.navbar.fixed-bottom {
  padding: 13px 0px 13px 0px;
}

.navbar-brand {
  font-size: 1.75rem;
}

.btn-nav {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

#central-panel input[type="text"],
#central-panel input[type="email"],
#central-panel input[type="password"],
#central-panel input[type="file"]
{
  background-color: rgba(47, 48, 47, 0);
  border-radius: 0;
  border-width: 0px 0px 2px 0px;
  color: white;
}

#central-panel input[type="text"]:focus,
#central-panel input[type="email"]:focus,
#central-panel input[type="password"]:focus
{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border-width: 0px 0px 4px 0px;
    border-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(255, 255, 255);
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn {
  background-color: rgba(47, 48, 47, 0.753);
  border: solid 3px white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

input.btn{
    width: 200px;
}

/* para web */
.btn:hover
{ background-color: rgba(162, 180, 84, 0.747); color: white; }
/* para móviles */
.btn:active
{ animation-name: coloranim; animation-duration: 1s; }
@keyframes coloranim {
  0% {background-color: rgba(47, 48, 47, 0.753);}
  80% {background-color: rgba(162, 180, 84, 0.747);}
  90% {background-color: rgba(47, 48, 47, 0.753);}
  100% {background-color: rgba(162, 180, 84, 0.747);}
}

/* MEDIA QUERIES */
@media only screen and (min-width: 576px) {
  body {
    background-image: none;
  }

  #back-video {
    visibility: visible;
  }

  .btn {
    width: 60%;
  }

  #central-panel {
  width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-image: none;
  }

  #back-video {
    visibility: visible;
  }

  .btn {
    width: 50%;
  }

  #central-panel {
    width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    background-image: none;
  }

  #back-video {
    visibility: visible;
  }

  #central-panel {
    width: 50%;
  }
} 