@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#web-content {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../media/index_ph.jpg);
  background-size: cover;
  background-position-x: 10%;
}

#web-content video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#web-content .container-fluid {
  position: relative;
  z-index: 0;
}
/* Hasta aquí es para el vídeo de fondo */

a.flex-grow-1, a:link, a:visited, div p.text-white
{
  text-decoration: none;
  font-family: "Satisfy";
}

a.flex-grow-1:hover
{
  font-weight: bold;
  color: rgb(255, 255, 206) !important;
  margin-left: 46px !important;
}

#central-panel {
  height: 85vh;
  width: 100%;
  border-bottom: dashed white 10px;
  border-top: dashed white 10px;
  background-color: rgba(47, 48, 47, 0.753);
}

#central-panel input[type="text"],
#central-panel input[type="email"],
#central-panel input[type="password"],
#central-panel input[type="file"]
{
  background-color: rgba(47, 48, 47, 0);
  border-radius: 0;
  border-width: 0px 0px 2px 0px;
  color: white;
}

#central-panel input[type="text"]:focus,
#central-panel input[type="email"]:focus,
#central-panel input[type="password"]:focus
{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  border-width: 0px 0px 4px 0px;
  border-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(255, 255, 255);
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.custom-btn {
  background-color: rgba(47, 48, 47, 0.753);
  border: solid 3px white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

input.custom-btn
{
    width: 200px;
}

.custom-btn:hover
{
  background-color: rgba(162, 180, 84, 0.747); color: white;
}

.btn-nav {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

/* MEDIA QUERIES DE BOOTSTRAP */
@media only screen and (min-width: 576px) {
  #web-content {
    background: none;
  }

  #central-panel {
    width: 80%;
  }

  .custom-btn {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {

  #central-panel {
    width: 65%;
  }

  .custom-btn {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {

  #central-panel {
    width: 60%;
  }
} 

@media only screen and (min-width: 1200px) {

  #central-panel {
    width: 50%;
  }

  .custom-btn {
    width: 25%;
  }
} 